
@font-face {
  font-family: Poppins;
  src: url("./bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: Montserrat;
  src: url("./light.ttf");
  font-weight: 300;
}

.homepage {
  margin-top: 94px;
  background: #d4d4d4;
  font-family: "Poppins", sans-serif;
  animation: viober 1.5s;
  display: flex;
  align-items: center;
}
.left{
  height: 100vh;
  width: 100%;
  z-index: 0;
  
}
.left .menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
  font-family: "Poppins", sans-serif;
}
.left .menu .user {
  display: flex; 
  width: 100%;
  padding: 5px;
  text-decoration: none;
  color: black;
}
.left .menu .user img {
  width: 40px;
  border-radius: 50%;
}
.left .menu .menu-item {
  width: 100%;
  padding: 10px;
  display: flex;
  margin-top: 30px;
  text-decoration: none;
  color: black
}
.left .menu .menu-item img { 
  width: 35px;
}
.left .menu .menu-item span {
  font-size: 18px;
  margin-top: 11px;
  margin-left: 10px;
  font-weight: 600;
}
@keyframes viober {
    0%{
      opacity: 0;
      margin-top: 180px;
      
    }
    100%{
      opacity: 1;
      margin-top: 94px;
    }
}
.left .menu .user span {
 font-size: 20px;
 margin-top: 7px;
margin-left: 10px;
}
.mid{
  height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
}
.right{
  height: 100vh;
  width: 100%;
}
.right .friendList{
  display: flex;
  padding: 10px;
  text-decoration: none;
  color: black;
}
.right .friendList img {
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.right .friendList p {
  font-size: 22px;
  margin-left: 10px;
}
.right h1{
  margin-left: 10px;
}
@media only screen and (max-width: 600px) {
  .left{
    display: none;
  }
  .right{
    display: none;
  }
}