.noti-box {
  display: flex;
  margin-top: 20px;
  background: white;
border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  height: auto;
  color: black;
}
.noti-content {
  
}
.noti-content p {
  font-size: 17px;
  margin-left: 10px;
}
.noti-box1 {
  display: flex;
  margin-top: 20px;
  background: #bfbfbf;
border-radius: 10px;
  text-decoration: none;
  color: black;
  height: auto;
  padding: 10px;
}
.noti-content1 {

}
.noti-content1 p {
  font-size: 22px;
  margin-left: 10px;
}